  <div class="btn-group">
     <button type="button" ng-click="thisPartial.ngAddClickFn()" class="btn btn-default" data-toggle="modal" ng-data-target="{{thisPartial.addTarget}}">Добавить</button>
   </div>
  <div class="btn-group">
     <button type="button" ng-click="thisPartial.ngUpdateClickFn()" ng-class="{'disabled': thisPartial.ngActiveCheckFn()}" class="btn btn-default"  data-toggle="modal" ng-data-target="{{thisPartial.updateTarget}}">Изменить</button>
   </div>
  <div class="btn-group">
     <button type="button" ng-click="thisPartial.ngDeleteClickFn()" ng-class="{'disabled': thisPartial.ngActiveCheckFn()}" class="btn btn-default" data-toggle="modal" ng-data-target="{{thisPartial.deleteTarget}}">Удалить</button>
  </div>
