<div ng-attr-id="{{thisPartial.id}}" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">х</button>
                <h4 class="modal-title">{{thisPartial.titleText}}</h4>
            </div>
            <div class="modal-body">{{thisPartial.bodyText}}</div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="thisPartial.action()" data-dismiss="modal">{{thisPartial.actionText}}</button>
                <button class="btn btn-default" data-dismiss="modal">{{thisPartial.dismissText}}</button>
            </div>
        </div>
    </div>
</div>