<style>
/*
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    //background:       #a5a5a5;
    background-color: #151515;
}*/

.dropdown-menu>li>a:hover {
   box-shadow: 0 0 10px rgba(0,0,0,0.4), inset 0 0 1px rgba(255,255,255,0.8);
   background: rgba(255,255,255,0.3);
   color: rgba(255,255,255,0.9);
   border-bottom: 1px solid rgba(255,255,255,0.9);
}

.my_active {
   box-shadow: 0 0 10px rgba(0,0,0,0.6), inset 0 0 1px rgba(255,255,255,0.9);
   background: rgba(255,255,255,0.3);
   color: rgba(255,255,255,0.9);
   border-bottom: 1px solid rgba(255,255,255,0.9);
}

.my_active, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active {
   color: #444;
   //outline: 0;
   //text-decoration: none;
}
</style>

<script type="text/ng-template" id="tree_item_renderer.html">
    <a ng-class="{'my_active': orgs_ctrl.active == item.id}" ng-click="orgs_ctrl.selectOrg(item.id)" role="button">{{item.text}}</a>
    <a ng-if="item.children" toggle-next="click" type="button" class="dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>  <!-- caret -->
    </a>

    <ul ng-if="item.children.length > 0" class="list-group dropdown-menu" style="position: static; float: none;">
        <li class="list-group-item dropdown" ng-repeat="item in item.children" ng-include="'tree_item_renderer.html'">
        </li>
    </ul>
</script>

<div class="panel panel-default" ng-controller="OrgsController as orgs_ctrl" style="height: 100vh;">
    <div class="container-fluid">
        <h2>Организации</h2>
        <div class="panel panel-default" style="width: 100%;">
        <div class="btn-group">
             <button type="button" class="btn btn-default">Добавить</button>
        </div>
        <div class="btn-group">
             <button type="button" class="btn btn-default">Изменить</button>
        </div>
        <div class="btn-group">
             <button type="button" ng-click="orgs_ctrl.removeOrg()" class="btn btn-default">Удалить</button>
        </div>
      </div>

        <div class="dropdown" style="width: 100%;">
            <ul class="list-group dropdown-menu" style="display: block; width: 100%;" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li ng-repeat="item in orgs_ctrl.menuItems" class="list-group-item dropdown"  ng-include="'tree_item_renderer.html'">
                </li>
            </ul>
        </div>
    </div>
</div>
