<div class="panel panel-default" ng-controller="OrgsController as orgs_ctrl" style="height: 100vh;">
    <div class="container-fluid">
        <h2>Организации</h2>
        <!--
        <a ng-click="orgs_ctrl.OrgsStore.getOrg(1)">test</a>
        <a ng-click="orgs_ctrl.OrgsStore.updateOrg({id: 1, name: 'blablabla'})">update test</a>
      -->
      <div class="panel panel-default" style="width: 100%;">
        <div ng-init = "thisPartial = orgs_ctrl.partials['orgActionPanel']" ng-include="'/partials/actionPanel.partial.html'"
        ng-controller="ElementController as el_ctrl"></div>
        <div ng-init="thisPartial = orgs_ctrl.partials['treeItemRenderer']" ng-controller="TreeItemRenderer as tree_ctrl">
          <div ng-include="'/partials/treeItemRenderer.partial.html'">
          </div>
        </div>
      </div>

    <div ng-init="thisPartial = orgs_ctrl.partials['delModal']" ng-include="'/partials/confirmDialog.partial.html'" ng-controller="OrgDialogController as org_dialog_ctrl"></div>
    <div ng-init="thisPartial = orgs_ctrl.partials['orgDialogUpdate']" ng-include="'/partials/orgDialog.partial.html'" ng-controller="OrgDialogController as org_dialog_ctrl"></div>
    <div ng-init="thisPartial = orgs_ctrl.partials['orgDialogCreate']" ng-include="'/partials/orgDialog.partial.html'" ng-controller="OrgDialogController as org_dialog_ctrl"></div>

</div>
